<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AppStarterBaseEntities" connectionString="metadata=res://*/Models.AppStarterBase.csdl|res://*/Models.AppStarterBase.ssdl|res://*/Models.AppStarterBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AppStarterBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ProcessLogBaseContainer" connectionString="metadata=res://*/ProcessLogBase.csdl|res://*/ProcessLogBase.ssdl|res://*/ProcessLogBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProcessLogBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="UIVisible" value="false"/>
    <add key="MonitoringIntervalMs" value="1000"/>
    <add key="MonitoringDisabled" value="true"/>
    <add key="GoodFileMinSizeBytes" value="10240"/>
    <add key="GoodFileMinLifeTimeS" value="100"/>
    <add key="NoVideoProxy" value="true"/>
    <add key="NoEventDetector" value="true"/>
    <add key="NoDomainAndPort" value="false"/>
    <add key="DeviceNameAsDomain" value="false"/>
    <add key="ProtocolType" value="http://"/>
    <add key="SourceDomain" value=""/>
    <add key="SourcePort" value="0"/>
    <add key="PortalDomain" value="localhost"/>
    <add key="PortalPort" value="53367"/>
    <add key="PortalUserName" value="Administrator"/>
    <add key="PortalPassword" value=""/>
    <add key="AppStarterDomain" value="localhost"/>
    <add key="AppStarterPort" value="53368"/>
    <add key="AppStarterUserName" value="Administrator"/>
    <add key="AppStarterPassword" value=""/>
    <add key="TestMode" value="false"/>
    <add key="MaxLogCount" value="100"/>
    <add key="DeleteFramgmentsOnStop" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
