@{
    ViewBag.Title = "Components";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<script type="text/javascript">
    //  Must be after page loading.
    window.onload = function () {
        //  Does not still work.
        //setVoteButtonStyle();
        alignDivsRightLeft();
    };
</script>

<h1>Components</h1>

<div>
    <div class="picture-div">
        <h2>Videocontroller</h2>
        <img src="../../Content/images/components/videocontroller.png" alt="Videocontroller" width="50%" />
        <p>
            Videocontroller can be industrial or domestic PC depends on environment conditions in the place of
            installation and requirements for control or external sensors. In the simplest case it can be
            nettop running Windows or Linux operating system with external web-cameras connected by USB-cable.
            In this case there are no needs for special hardware, the only need is to download, install and
                 configure software from this site.
        </p>
    </div>
    <div class="picture-div">
        <h2>General collaboration</h2>
        <img src="../../Content/images/components/collaboration.png"
             alt="General collaboration" width="50%" />
        This picture shows the primary ways of collaboration between users, application, videocontrollers and third party web services. More information about the videocontroller you can find in the section below.
        <br/>
        <p>
            The main scenarios are:
        </p>
        <ul>
            <li>surveillance,</li>
            <li>configuration,</li>
            <li>control,</li>
            <li>monitoring,</li>
            <li>transmission of alarms,</li>
            <li>reporting.</li>
        </ul>
        <p>
            More detailed description of each of these scenarios you can find in the @Html.ActionLink("Use Cases", "UseCases", "Home") section.
        </p>
    </div>
    <div class="picture-div">
        <h2>Communications</h2>
        <img src="../../Content/images/components/communications.png"
             alt="The common communication diagram" width="50%" />
        <p>
            System components generally communicate by means of public networks. This puts strong requirements
            at methods of transmission of video, data and control commands for security and privacy protection.
            More information about how these requirements are met in the application you can find in the
            @Html.ActionLink("\"Features\"", "Features", "Home") section.
        </p>
    </div>
</div>
