@{
	ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<h1>Demo</h1>

<table>
    <tr>
        <td style="border: 0 hidden;">
            <div class="display-label demo-link">
                @Html.ActionLink("An example of continuous recording chain", "ShowChart", "Home")
            </div>
        </td>
    </tr>
@*
	<tr>
		<td style="border: 0 hidden;">
			<div class="display-label demo-link">
				@Html.ActionLink("An example of screen matrix", "Demo_Matrix", "Home")
			</div>
		</td>
	</tr>
    *@
</table>

