<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="PortalDomain" value="localhost"/>
    <add key="PortalPort" value="53367"/>
    <add key="PortalUserName" value="Administrator"/>
    <add key="PortalPassword" value=""/>
    <add key="FragmentLength" value="3600"/>
    <add key="InstanceUserName" value="Administrator"/>
    <add key="InstancePassword" value =""/>
    <add key="ImageId" value=""/>
    <add key="InstanceType" value=""/>
    <add key="KeyName" value=""/>
    <add key="SecurityGroup" value=""/>
    <add key="BaseVideoProxyPort" value="8080"/>
    <add key="MaxTaskNumber" value="4"/>
    <add key="InstancePort" value="53368"/>
    <add key="UseLocalInstance" value="true"/>
    <add key="MaxLogCount" value="100"/>
    <add key="AllowCallback" value="False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="InstanceStarterBaseEntities" connectionString="metadata=res://*/Model.InstanceStarterBase.csdl|res://*/Model.InstanceStarterBase.ssdl|res://*/Model.InstanceStarterBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=InstanceStarterBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProcessLogBaseContainer" connectionString="metadata=res://*/ProcessLogBase.csdl|res://*/ProcessLogBase.ssdl|res://*/ProcessLogBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProcessLogBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
