<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppStarterBaseEntities" connectionString="metadata=res://*/Models.AppStarterBase.csdl|res://*/Models.AppStarterBase.ssdl|res://*/Models.AppStarterBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AppStarterBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>