<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ProcessLogBaseContainer" connectionString="metadata=res://*/ProcessLogBase.csdl|res://*/ProcessLogBase.ssdl|res://*/ProcessLogBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProcessLogBase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="GetDateFromAws" value="false"/>
    <add key="OutputFormat" value =":sout=#transcode{vcodec=h264,vb=0,scale=0,acodec=mpga,ab=128,channels=2,samplerate=44100}"/>
    <add key="OutputExt" value=".mp4"/>
  </appSettings>
</configuration>
