@using System.Globalization

@*https://www.evernote.com/shard/s132/nl/14501366/515ae7cc-5203-4cb2-be8f-94f5e858d71f*@
<video id="@Html.Raw("div_chart_" + ((long)ViewBag.chartID).ToString(CultureInfo.InvariantCulture))" preload="none" @Html.Raw("width=\"" + ((int)ViewBag.Width).ToString(CultureInfo.InvariantCulture) + "\" height=\"" + ((int)ViewBag.Height).ToString(CultureInfo.InvariantCulture) + "\"") controls autoplay><source src="@Html.Raw(ViewBag.FullURL)" type="video/ogg">Your browser does not support the video tag.</video>

@* Такой вар. тоже не заработал.
<a href="http://85.12.230.92:8080" class="player" style="display: block; width: 425px; height: 300px;" id="player1"></a>

<textarea id="embedcode"></textarea>
<br class="clear"/>

<script type="text/javascript">
	(function start()
	{
		$f("player", "http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf");
		document.getElementById("embedcode").innerHTML = $f().embed().getEmbedCode();
		flowplayer("player1", "http://releases.flowplayer.org/swf/flowplayer-3.2.12.swf");
	}());
</script>
*@
